.blog-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.blog-container .blog-information {
  padding: 1em;
  width: 20%;
  float: left;
}
.blog-container .blog-information ul li {
  font-size: 1.5em;
}
.blog-container .blog-information .blog-social img {
  width: 100%;
  height: 100%;
}
.blog-container .blog-information .blog-social .social-subscription {
  text-align: center;
  padding-top: 1em;
}
.blog-container .blog-information .blog-social .social-subscription a img {
  padding: 0 0.3em;
  width: 2em;
  height: 2em;
}
.blog-container .blog-information .academic-info {
  padding-bottom: 0.2em;
  width: 100%;
  background: #06c;
  margin-top: 1em;
  color: #fff;
}
.blog-container .blog-information .academic-info h2 {
  padding: 1em;
  padding-left: 1em;
}
.blog-container .blog-information .academic-info ul {
  list-style-type: none;
}
.blog-container .blog-information .academic-info ul li {
  padding: 0.5em 0;
  font-size: 1.2em;
}
.blog-container .blog-information .academic-info ul li:before {
  content: " - ";
}
.blog-container .blog-information .entries {
  padding-bottom: 0.2em;
  margin-top: 1em;
  width: 100%;
  background: #39f;
  color: #fff;
}
.blog-container .blog-information .entries h2 {
  padding: 1em;
  padding-bottom: 0;
  margin: 0;
}
.blog-container .blog-information .entries ul {
  list-style-type: none;
}
.blog-container .blog-information .entries ul li {
  padding: 0.5em 0;
  font-size: 1.2em;
}
.blog-container .blog-information .entries ul li:before {
  content: " - ";
}
.blog-container .blog {
  float: right;
  width: 75%;
}
.blog-container .blog .member-resume {
  padding: 1em;
  border-bottom: 1px solid #39f;
}
.blog-container .blog .member-resume h1 {
  color: #39f;
}
.blog-container .blog .member-resume span {
  display: block;
  font-size: 2em;
}
.blog-container .blog .blog-entries {
  width: 100%;
}
.blog-container .blog .blog-entries .blog-entry {
  margin: 2em 0;
  position: relative;
  width: 90%;
}
.blog-container .blog .blog-entries .blog-entry img {
  display: inline-block;
  width: 20%;
  height: 10em;
}
.blog-container .blog .blog-entries .blog-entry .entry-about {
  padding: 1em;
  position: absolute;
  display: inline-block;
}
.blog-container .blog .blog-entries .blog-entry .entry-about h2 {
  color: #39f;
}
.blog-container .blog .blog-entries .blog-entry .entry-about span {
  font-size: 1.5em;
}
.blog-container .blog .blog-entries .blog-entry .entry-about a {
  margin-top: 2em;
  float: right;
  width: 4.5em;
  display: block;
  text-decoration: none;
  background: #f33;
  color: #fff;
  padding: 0.5em;
}
