
.slider
    position: relative;
    width: 100%
    height: 25em
    background: url("../images/ac9c.jpg") center no-repeat
    background-size: 100% 100%
    .join-us
      top: 40%
      left: 65%
      width: 15em
      padding: 1.5em
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      .link-more
        padding-left: 10em
        margin: 0
        width: 6em
        a
          vertical-align: middle;
          padding: 0.2em
          background: #ff3333
          border-radius: 0.2em
          text-decoration: none;
          color: white
          &:visited
            color: white
      h1
        color: white
      span
        color: white

section
  .slogan
    padding: 1em
    h1
      color: #3399ff

  .investigation-lines
    text-align: center;
    padding: 1em
    width: 100%;
    background: #bbc3cc
    .investigation-item
      text-align: center;
      width: 20%
      padding: 0 3.5em
      display: inline-block;
      img,span
        display: block;
      img
        margin: 0 auto
        border-radius: 50%
      span
        //aqui falta xD!

.members
  text-align: center;
  padding-top: 1em
  .member-item
    width: 30%
    margin: 0 0.8em
    text-align: center;
    display: inline-block;
    border: solid 1px #ccc
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2)
    img
      padding: 2em
      width: 15em
      height: 15em
      border-radius: 50%
    h2
      padding: 0.5em
      background: #ff3333
      color: white
    span
    .member-social
      padding: 1em
      img
        padding: 0 0.3em
        width: 3em
        height: 3em

//----------------------- BLOG -------------------------------------------
.blog-container
  width: 100%;
  height: auto;
  overflow: hidden;
  .blog-information
    ul
      li
        font-size: 1.5em
    padding: 1em
    width: 20%
    float: left;
    .blog-social
      img
        width: 100%
        height: 25em
      .social-subscription
        text-align: center;
        padding-top: 1em
        a
          img
            padding: 0 0.3em
            width: 3em
            height: 3em
    .academic-info
      h2
        padding: 1em
        padding-left: 1em
      padding-bottom: 0.2em
      width: 100%
      background: #0066cc
      margin-top: 1em
      color: white
      ul
        list-style-type: none;
        li
          padding: 0.5em 0
          &:before
            content: " - "

    .entries
      padding-bottom: 0.2em
      margin-top: 1em
      width: 100%
      background: #3399ff
      color: white
      h2
        padding: 1em
        padding-bottom: 0
        margin:0
      ul
        list-style-type: none;
        li
          padding: 0.5em 0
          &:before
            content: " - "

  .blog
    float: right;
    width: 75%
    .member-resume
      padding: 1em
      border-bottom: 1px solid #3399ff
      h1
        color: #3399ff
      span
        display: block;
        font-size: 2em

    .blog-entries
      width: 100%
      .blog-entry
        margin: 2em 0
        position: relative;
        width: 90%
        img
          display: inline-block;
          width: 20%
          height: 10em
        .entry-about
          padding: 1em
          position: absolute;
          display: inline-block;
          h2
            color: #3399ff
          span
            font-size: 1.5em
          a
            margin-top: 2em
            float: right;
            width: 4.5em
            display: block;
            text-decoration: none;
            background: #ff3333
            color: white
            padding: 0.5em

//---------------------- BLOG --------------------------------------------------



footer
  background: url("../images/d4tleft.png") center no-repeat
  width: 100%
  height: 40em
  background-size: 100% 100%
  .upper-footer
    padding: 2em
    border-bottom: 1px solid rgba(255,255,255,0.2)
    h1,h2
      color: white
  .lower-footer
    .contact,.space-game,.interest-links
      display: inline-block;
    .contact
      padding: 2em
      width: 30%
      h2
        color: white
      .social-subscription
        a
          img
            padding: 0 0.5em
            width: 2em
            height: 2em
    .space-game
      width: 30%
      .start-game
        margin: 0 auto
        width: 6em
        height: 6em
        background: rgba(0,0,0,0.8)
        text-align: center;
        border-radius: 50%

    .interest-links
      float: right;
      width: 20%
      color: white
      padding-left: 5em
      a,h2
        display: inline-block;
      a
        vertical-align: middle;
        padding: 0.2em
        border-radius: 0.2em
        text-decoration: none;
        color: white
        &:visited
          color: white
