.blog-container
  width: 100%;
  height: auto;
  overflow: hidden;
  .blog-information
    ul
      li
        font-size: 1.5em
    padding: 1em
    width: 20%
    float: left;
    .blog-social
      img
        width: 100%
        height: 25em
      .social-subscription
        text-align: center;
        padding-top: 1em
        a
          img
            padding: 0 0.3em
            width: 3em
            height: 3em
    .academic-info
      h2
        padding: 1em
        padding-left: 1em
      padding-bottom: 0.2em
      width: 100%
      background: #0066cc
      margin-top: 1em
      color: white
      ul
        list-style-type: none;
        li
          padding: 0.5em 0
          &:before
            content: " - "

    .entries
      padding-bottom: 0.2em
      margin-top: 1em
      width: 100%
      background: #3399ff
      color: white
      h2
        padding: 1em
        padding-bottom: 0
        margin:0
      ul
        list-style-type: none;
        li
          padding: 0.5em 0
          &:before
            content: " - "

  .blog
    float: right;
    width: 75%
    .member-resume
      padding: 1em
      border-bottom: 1px solid #3399ff
      h1
        color: #3399ff
      span
        display: block;
        font-size: 2em

    .blog-entries
      width: 100%
      .blog-entry
        margin: 2em 0
        position: relative;
        width: 90%
        img
          display: inline-block;
          width: 20%
          height: 10em
        .entry-about
          padding: 1em
          position: absolute;
          display: inline-block;
          h2
            color: #3399ff
          span
            font-size: 1.5em
          a
            margin-top: 2em
            float: right;
            width: 4.5em
            display: block;
            text-decoration: none;
            background: #ff3333
            color: white
            padding: 0.5em
