@import "home"
article
  h1
    font-family: 'Roboto', sans-serif;
    color: #39f;

span, h2
  color: #585858;
  font-family: 'Noto Sans', sans-serif;

.desc
  color: #999;

article
  display: inline-flex;
  padding: 2em
  .contact-form
    text-align: left;
    width: 150%;
    height: 100%;
    padding: 2em 5em
    form
      display: block;
      //height: 5em
      align-items: baseline;
      .list-item
        display: inline-flex;
      input[type=text]
        //border-color: black
        border-width: 0px 0px 3px 0px;
        width: 30em
        &:hover
          border-width: 0px 0px 6px 0px;
      input[name="name"]
        margin-left: 2.2em
      input[name="mail"]
        margin-left: 3em
      input[name="topic"]
        margin-left: 3em
    textarea
      margin-top: 3em
      margin-bottom: 3em
      margin-left: 2em
      width: 30em
      height: 15em
      border-width: 1px 1px 1px 1px;
      resize: none
      &:hover
        border-width: 2px 2px 2px 2px;
    a
      color: white
      margin-left: 15em
      text-decoration: none
      background-color: #f33
      font-size: 1.2em
      padding 0.4em 0.6em
      border-radius: 0.2em
      &:hover
        background-color: #f44
  .contact-info
    width: 100%;
    height: 100%;
    padding: 2em 1em
    .map
      height: 18em;
      width: 18em
      background: url("../images/mapa.png")
      background-size: 100% 100%;
