.body
  font-size: 18px;
h1,h2,h3,h4,h5,h6
  font-family: 'Roboto', sans-serif;

span, ul, li, a, p
  font-family: 'Noto Sans', sans-serif;

::-webkit-input-placeholder
  color: black

.page-sizer
  margin: 0 auto

header
  .upper-head
    padding 0.5em
    position: relative;
    width: 100%
    height: 100%
    background: #0066cc
    color: white
    img
      width: 2em
      height: 2em
      display: inline-block;
    .UNET
      position: absolute;
      display: inline-block;
      top: 0.5em
      padding: 0 1em
      h1
        color: white
        font-size 1.2em

  .lower-head
    display:flex;
    flex-direction:row;
    justify-content:space-between
    aling-items:center;
    margin 1em
    .h-left
      padding: 1em
      display: inline-block;
      width: 75%
      img
        display: inline-block;
        width: 9em
        height: 9em
      .lab-title
        position: absolute;
        display: inline-block;
        color #585858
        h1
          color #333
          margin-bottom 0%
          font-size 2.3em
        h2
          margin-top 0%


    .h-right
      top: 1em
      display: inline-block;
      padding: 0 auto
      width: 23%

      .subscription-form
        float: right;
        width: 15em
        form
          padding: 0.5em
          background: #ededed
          color #333
          margin: 0
          input
            margin: 0
            background: #ededed
            color #333
            border: 0
            outline: 0
          button
            float: right;
            padding-right: 0.5em
            margin: 0
            background: #ededed
            color #333
            outline: 0
            border: 0

      .social-subscription
        float: right;
        padding-top: 0.5em
        padding-left: 1.5em
        img
          padding: 0 0.3em
          width: 2em
          height: 2em
      .log-in
        margin-top: 4em
        padding-left: 13%
        width: auto
        float: right;
        color #333
        span
          font-size: 1.5em
        a
          padding: 0.2em
          display: inline;
          font-size: 2em
          text-decoration: none;
          font-weight: bold
          &:visited
            color: #333

nav
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em
  font-size: 1.5em
  color: white
  background: #3399ff
  ul
    padding: 0em
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0
    list-style-type: none;
    li
      display: inline;
      padding: 0 1.2em
      &:nth-child(1)
        padding-left: 0.5em
      a
        text-decoration:none
        color: #fff

  .search-bar
    padding: 0.1em
    display: inline-block;
    float: right;
    form
      padding: 0.25em
      background: #ededed
      margin: 0
      input
        width: 7.5em
        background: #ededed
        margin: 0
        border: 0
        outline: 0
      button
        color: #333
        float: right;
        padding-right: 0.5em
        margin: 0
        background: #ededed
        outline: 0
        border: 0
        color #333
    display: inline-block;
.slider
    position: relative;
    width: 100%
    height: 25em
    background: url("../images/ac9c.jpg") center no-repeat
    background-size: 100% 100%
    .join-us
      top: 40%
      left: 75%
      width: 15em
      padding: 1.5em
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      .link-more
        padding-left: 10em
        margin: 0
        width: 6em
        a
          vertical-align: middle;
          padding: 0.2em
          background: #ff3333
          border-radius: 0.2em
          text-decoration: none;
          color: white
          &:visited
            color: white
      h1
        color: white
      span
        color: white

section
  .slogan
    padding: 1em
    h1
      color: #3399ff

  .investigation-lines
    text-align: center;
    padding: 1em
    width: 100%;
    background: #e5e5e5
    .investigation-item
      color #333
      text-align: center;
      width: 20%
      padding: 0 3.5em
      display: inline-block;
      img,span
        display: block;
      img
        margin: 0 auto
        border-radius: 50%
        width 80%
        height 80%
      span
        //aqui falta xD!

.members
  text-align: center;
  padding-top: 1em
  .member-item
    width: 30%
    margin: 0 0.8em
    text-align: center;
    display: inline-block;
    border: solid 1px #ccc
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2)
    img
      padding: 2em
      width: 15em
      height: 15em
      border-radius: 50%
    h2
      padding: 0.5em
      background: #ff3333
      color: white
    span
    .member-social
      padding: 1em
      color #333
      img
        padding: 0 0.3em
        width: 2em
        height: 2em


//----------------------- BLOG -------------------------------------------
.blog-information
  width: 20%
  float: left;





footer
  margin-top: 3em
  background: url("../images/d4tleft.png") center no-repeat
  width: 100%
  height: 40em
  background-size: 100% 100%
  .upper-footer
    padding: 2em
    border-bottom: 1px solid rgba(255,255,255,0.2)
    h1,h2
      color: white
  .lower-footer
    .contact,.space-game,.interest-links
      display: inline-block;
    .contact
      padding: 2em
      width: 30%
      h2
        color: white
      .social-subscription
        a
          img
            padding: 0 0.5em
            width: 2em
            height: 2em
    .space-game
      width: 30%
      .start-game
        margin: 0 auto
        width: 6em
        height: 6em
        background: rgba(0,0,0,0.8)
        text-align: center;
        border-radius: 50%

    .interest-links
      float: right;
      width: 20%
      color: white
      padding-left: 5em
      a,h2
        display: inline-block;
      a
        vertical-align: middle;
        padding: 0.2em
        border-radius: 0.2em
        text-decoration: none;
        color: white
        &:visited
          color: white
