.iniciar-sesion
    display: flex
    flex-direction row
    align-items center
    justify-content space-around
    align-items flex-start
    margin-top 3%
    p
      color #333
    .autenticar
      text-align center
      a
        color white
        text-decoration none
        background #f33
        padding 0.4em 0.6em
        border-radius 0.2em
        font-size 1.2em
        &:visited
          color white
      .datos
        text-align left
        input
          width 100%
          margin-top 0%
          border-color #ccc
          border-style solid
          padding 4% 0%

    .formar-parte-lab
      text-align center
    h1
      color: #39f;
    h2
      margin-bottom 3%
      color #333
