
.body-lineas-investigacion
	h1
		color #39f
	.button
		padding: 1em
	.more
		float: right;
		padding: 0.4em 0.6em
		text-decoration: none
		background-color: #f33
		color: white
		font-size: 1.2em
		border-radius: 0.2em
		&:hover
			background-color: #f44
