.proyecto-body {
  width: 90%;
  margin-left: 3%;
}
.proyecto-body h1 {
  color: #39f;
  padding-left: 2%;
}
.proyecto-body p {
  padding-left: 5%;
}
.proyecto-body .button {
  display: flex;
  justify-content: flex-end;
}
.proyecto-body .button a {
  background: #f33;
  text-decoration: none;
  color: #fff;
  padding: 0.4em 0.6em;
  border-radius: 0.2em;
  font-size: 1.2em;
  margin-top: 3%;
}
.proyecto-body .button a:visited {
  color: #fff;
}
.proyecto-body .Main-proyect .contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.proyecto-body .Main-proyect .contenido div {
  width: 100%;
  padding-left: 3%;
}
.proyecto-body .Main-proyect .contenido div img {
  height: 15em;
}
.proyecto-body .Main-proyect .contenido div p {
  margin-top: 0%;
}

.see-more-mob{
  display: none;
}

@media screen and (max-width: 980px) {
  .see-more-desk{
    display:none;
  }
  .see-more-mob{
    font-size: 3em;
    padding: 0.5em;
    display:block;
  }
  .contenido{
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
  }
  .imagen{
    text-align: center;
  }
  .imagen img{
    width: 80%;
    height: 40% !important;
  }
}
