.proyecto-body
	width 90%
	margin-left 3%
	h1
		color #39f
		padding-left 2%
	p
		padding-left 5%
	.button	
		display: flex
		justify-content flex-end
		a 
			background: #f33
			text-decoration none 
			color white
			padding 0.4em 0.6em
			border-radius 0.2em
			font-size 1.2em
			margin-top 3%
			&:visited
				color white
	.Main-proyect
		.contenido
			display: flex
			flex-direction row
			justify-content space-around
			div
				width 100%
				padding-left 3%
				img
					height 15em
				p
					margin-top 0%
	
			
			
				