.report section{
  margin-top: 1.5em;
}

.report section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.upper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3em;
}

.graph,.more-read{
  width: 49%;
  border: solid 1px #ededed;
}

.report h1{
  font-size: 1.5em;
  background-color: #fff;
  padding: 0.3em 1em;
  color: #39f;
}

.report label{
  font-size: 1.1em;
  font-weight: 100;
  padding: 0.7em;
  margin: 0.5em 0em;
  color: #333;
}

.more-read ol li{
  background-color: #ededed;
  margin: 1em 0;
  margin-right: 10px;
  padding: 0.5em;
}

.more-read ol li label{
  margin: 0;
  padding: 0.2em 0.5em;
}

.contain-graph{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.graph ul{
  list-style: none;
  padding: 0;
}

.graph img{
  width: 10em;
  height: 10em;
}

.report ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1em;
}

.graph ul li label{
  background-color: #fff;
  padding: 0;
  width: 12em;
  margin: 0.5em 0.5em;
}

.square1,.square2,.square3{
  width: 1.5em;
  height: 1.5em;
}

.square1{
  background-color: #ffb12a;
}

.square2{
  background-color: #ff5a19;
}

.square3{
  background-color: #00933d;
}

.lower{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

table{
  width: 100%;
}

th{
  background-color: #06c;
  color: #fff;
  text-align: center;
  font-size: 1.1em;
  padding: 0.5em;
  border-bottom: solid 1px #06c;
}

td{
  width: 18em;
  height: 2.5em;
  border-left: solid 1px #06c;
  font-size: 1.1em;
  font-weight: 100;
  color: #333;
  padding-left: 1em;
}
tr:hover {background-color: #ededed}

.download{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.download p{
  color: #333;
  font-weight: 300;
  font-size: 1.2em;
}

.mode-down{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.download a{
  text-decoration: none;
  margin: 0 1em;
}

.download .button{
  background-color: #f33;
  border-radius: 0.3em;
  padding: 0.5em 3em;
}

.download .button p{
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

@media print {
  #logolab{
    width: 5em;
    height: 5em;
    margin-top: 2em;
  }
  #h1t{color: #333;}
  #tituloreport{display: block; }
  #foot {display: none;}
  #downl {display: none;}
  #hright {display:none;}
  .size-container-nav {display:none;}
}

.list {
  font-family:sans-serif;
}
td {
  padding:10px;
  border:solid 1px #eee;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  background-color: #f33;
  border-radius: 0.3em;
  padding: 0.5em 3em;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  height:30px;
  margin-bottom: 0.8em;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

.buttons-sort{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
