 .form-in .send {
  vertical-align: middle;
  padding: 0.2em;
  background: #f33;
  border-radius: 0.2em;
  text-decoration: none;
  color: #fff;
}

.form-in{
color: #333;
}

.form-in h3{
color: #39f;
padding-left: 12%;
font-size: 2.1em;
margin-top: 40px;
margin-bottom: 10px; 

}

.form-in .form{
	width: 60%;
	padding-left: 20%;
	font-size: 1.8em;
}


.form-in .texts{
display: inline-block;
vertical-align: top;
}

.form-in .texts p{
padding-bottom: 1px;
}

.form-in .inputs{
	vertical-align: top bottom;
padding-left: 20px;
display: inline-block;
}

.form-in .inputs input{
padding: 0;
border: 0;
border-bottom: #bdbdbd 1px solid;
}

.form-in .inputs input:hover{
border-bottom: #000 1px solid;
}

.form-in .inputs .reason{
border: #bdbdbd 1px solid;
padding-bottom: 20%;
}

.form-in .inputs .reason:hover{
border: #000 1px solid;
}

.form-in .div-button{
display: block;
text-align: center;
}

.form-in .send{
	padding: 0.4em 0.8em;
	border:none;
	border-radius: 0;
}

.form-in .send:hover{
	box-shadow:  4px 4px 9px rgba(0,0,0,0.2);
}