
.icon-fb:before { content: '\e800'; } /* '' */
.icon-tw:before { content: '\e801'; } /* '' */
.icon-g:before { content: '\e802'; } /* '' */
.icon-blog:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-ig:before { content: '\e805'; } /* '' */
.icon-pin:before { content: '\e806'; } /* '' */
.icon-linked:before { content: '\e807'; } /* '' */
.icon-wp:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */