.page-sizer {

	margin: 0 auto;
}

header .upperbanner {

	background-color: #0066CC;
	height: 50px;

}

header .upperbanner .logounet{

	text-indent: -9999px;
	width: 40px;
	float: left;
	height: 40px;
}

header .upperbanner h1{

color: white;
font-size: 20pt;
text-decoration: none;
margin: 0;
vertical-align: middle; /**HELP, no hace el vertical-align */
}


header .suscribe-social{
	float: right;

}

header .suscribe-social .suscription{
	color: #333;
	background-color:#ededed;
	border-style: none;
	width: 220px;
	height: 30px;
	text-align: center;
}

header .suscribe{
	float: right;
}

header .social-buttons img{

	width: 30px;
	height: 30px;
	float: right;

}


header .lab-banner{


}

header .lab-banner .logolab{
	float: left;
	width: 90px;
	height:90px;

}

header .lab-banner h2{
	color: #333;
	font-size: 28pt;
	margin-bottom: -15px;
}

header .lab-banner h3{
	color: #333;
}

header .lab-banner .login{

	float: right;
	position: relative;
	bottom: 30px;
  color: #333;
	text-decoration: none;

}

header .nav-menu{


}

header .nav-menu ul{
	text-align: center;
	list-style: none;
	background: #3399FF;
}

header .nav-menu ul li{
	font-size: 20pt;
	 display: inline-block;
	 color: white;
	padding-left: 10px;
	padding-right: 10px;

}

header .logosearch{

width: 30px;
height: 30px;

}

header .search-box{
color: gray;
text-align: right;
width: 180px;

}

.slider img{

	margin: -16px;
	height: 600px;
	width: 101%;

}

.slider .slidertext {
	color: white;
 	background: rgba(0,0,0,0.4);
    width: 400px;
    height: 250px;
    position: relative;
    bottom: 400px;
    right: 100px;
    float: right;

}

.slider .slidertext button{
	background-color: #ff3333;
	border-style: none;
	border-radius: 5px;

}

.info{

	margin: 50px;


}

.info h1{

color: #3399FF;

}

.info p{

font-size: 18pt;

}

.inv-lines {
	width: 100%;
	background-color: lightgrey;
	text-align: center;
	float: left;
}

.inv-lines div {

	display: inline-block;
	padding: 15px;
}

.inv-lines div h4{

	font-size:  28pt;

}

.inv-lines div p{

	font-size:  22pt;

}

.inv-lines div img{

	width: 120px;
	height: 120px;

}

.members {
	width: 100%;
	background-color: white;
	text-align: center;
	float: left;
}

.members div {

	display: inline-block;
	padding: 15px;
}

.members div h4{

	font-size:  28pt;

}

.members div p{

	font-size:  22pt;

}

.members div img{

	width: 120px;
	height: 120px;

}

.members .social img{

	width: 30px;
	height: 30px;

}
