/*Realizado por DreamTeam - JD*/

section{
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2% auto;
}

section h1{
  width: 100%;
  color: #39f;
  font-family: 'Roboto', sans-serif;
  font-size: 2.300em;
  font-weight: normal;
  margin: 0 8em;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card, .card-reverse{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.2em solid #e5e5e5;
  margin: 2.5em;
  width: 30em;
  height: 18em;
}

.data{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
}

.data img{
  margin: 0.5em;
  padding: 0;
  border-radius: 800px;
  overflow: hidden;
  width: 40%;
}

.data h4{
  width: 100%;
  background-color: #39f;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
  color: #fff;
  margin: 0;
}
.data p{
  width: 80%;
  text-align: center;
  color: #484848;
  font-size: 1.25em;
  margin: 0.5em;
}

.socials{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.socials img{
  width: 2em;
  height: 2em;
}


.card-reverse h4{
  background-color: #06c;
}

.card-reverse p{
  font-size: 1.40em;
  margin: 0;
}

.card-reverse .text-reverse{
  font-size: 1.2em;
  margin: 0;
}

.card-reverse .button{
  width: 10em;
  height: 1.5em;
}

.button1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.card-reverse .button p{
  font-size: 1em;
}

.button{
  width: 6em;
  text-align: center;
}

.button p{
  background-color: #cf4045;
  color: #fff;
  font-size: 1.250em;
}
