.body {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
span,
ul,
li,
a,
p {
  font-family: 'Noto Sans', sans-serif;
}
::-webkit-input-placeholder {
  color: #000;
}
.page-sizer {
  margin: 0 auto;
}
header .upper-head {
  padding: 0.5em;
  position: relative;
  width: 100%;
  height: 100%;
  background: #06c;
  color: #fff;
}
header .upper-head img {
  width: 5em;
  height: 5em;
  display: inline-block;
}
header .upper-head .UNET {
  position: absolute;
  display: inline-block;
  top: 1.5em;
  padding: 0 1em;
}
header .lower-head {
  position: relative;
}
header .lower-head .h-left {
  padding: 1em;
  display: inline-block;
  width: 75%;
}
header .lower-head .h-left img {
  display: inline-block;
  width: 9em;
  height: 9em;
}
header .lower-head .h-left .lab-title {
  position: absolute;
  display: inline-block;
}
header .lower-head .h-right {
  top: 1em;
  position: absolute;
  display: inline-block;
  padding: 0 auto;
  width: 23%;
}
header .lower-head .h-right .subscription-form {
  float: right;
  width: 15em;
}
header .lower-head .h-right .subscription-form form {
  padding: 0.5em;
  background: #bbc3cc;
  margin: 0;
}
header .lower-head .h-right .subscription-form form input {
  margin: 0;
  background: #bbc3cc;
  border: 0;
  outline: 0;
}
header .lower-head .h-right .subscription-form form button {
  float: right;
  padding-right: 0.5em;
  margin: 0;
  background: #bbc3cc;
  outline: 0;
  border: 0;
}
header .lower-head .h-right .social-subscription {
  float: right;
  padding-top: 0.5em;
  padding-left: 1.5em;
}
header .lower-head .h-right .social-subscription img {
  padding: 0 0.3em;
  width: 2em;
  height: 2em;
}
header .lower-head .h-right .log-in {
  padding-left: 13%;
  width: auto;
  float: right;
}
header .lower-head .h-right .log-in span {
  font-size: 1.5em;
}
header .lower-head .h-right .log-in a {
  padding: 0.2em;
  display: inline;
  font-size: 3em;
  text-decoration: none;
}
header .lower-head .h-right .log-in a:visited {
  color: #000;
}
nav {
  height: 2em;
  font-size: 1.5em;
  color: #fff;
  background: #39f;
}
nav ul {
  padding: 0.5em;
  display: inline-block;
  margin: 0;
  list-style-type: none;
}
nav ul li {
  display: inline;
  padding: 0 1.2em;
}
nav ul li:nth-child(1) {
  padding-left: 0.5em;
}
nav .search-bar {
  padding: 0.1em;
  display: inline-block;
  float: right;
  display: inline-block;
}
nav .search-bar form {
  padding: 0.25em;
  background: #bbc3cc;
  margin: 0;
}
nav .search-bar form input {
  width: 7.5em;
  background: #bbc3cc;
  margin: 0;
  border: 0;
  outline: 0;
}
nav .search-bar form button {
  color: #000;
  float: right;
  padding-right: 0.5em;
  margin: 0;
  background: #bbc3cc;
  outline: 0;
  border: 0;
}
.slider {
  position: relative;
  width: 100%;
  height: 25em;
  background: url("../images/ac9c.jpg") center no-repeat;
  background-size: 100% 100%;
}
.slider .join-us {
  top: 40%;
  left: 65%;
  width: 15em;
  padding: 1.5em;
  position: absolute;
  background: rgba(0,0,0,0.8);
}
.slider .join-us .link-more {
  padding-left: 10em;
  margin: 0;
  width: 6em;
}
.slider .join-us .link-more a {
  vertical-align: middle;
  padding: 0.2em;
  background: #f33;
  border-radius: 0.2em;
  text-decoration: none;
  color: #fff;
}
.slider .join-us .link-more a:visited {
  color: #fff;
}
.slider .join-us h1 {
  color: #fff;
}
.slider .join-us span {
  color: #fff;
}
section .slogan {
  padding: 1em;
}
section .slogan h1 {
  color: #39f;
}
section .investigation-lines {
  text-align: center;
  padding: 1em;
  width: 100%;
  background: #bbc3cc;
}
section .investigation-lines .investigation-item {
  text-align: center;
  width: 20%;
  padding: 0 3.5em;
  display: inline-block;
}
section .investigation-lines .investigation-item img,
section .investigation-lines .investigation-item span {
  display: block;
}
section .investigation-lines .investigation-item img {
  margin: 0 auto;
  border-radius: 50%;
}
.members {
  text-align: center;
  padding-top: 1em;
}
.members .member-item {
  width: 30%;
  margin: 0 0.8em;
  text-align: center;
  display: inline-block;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.members .member-item img {
  padding: 2em;
  width: 15em;
  height: 15em;
  border-radius: 50%;
}
.members .member-item h2 {
  padding: 0.5em;
  background: #f33;
  color: #fff;
}
.members .member-item span,
.members .member-item .member-social {
  padding: 1em;
}
.members .member-item span img,
.members .member-item .member-social img {
  padding: 0 0.3em;
  width: 3em;
  height: 3em;
}
.blog-information {
  width: 20%;
  float: left;
}
footer {
  margin-top: 3em;
  background: url("../images/d4tleft.png") center no-repeat;
  width: 100%;
  height: 40em;
  background-size: 100% 100%;
}
footer .upper-footer {
  padding: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
footer .upper-footer h1,
footer .upper-footer h2 {
  color: #fff;
}
footer .lower-footer .contact,
footer .lower-footer .space-game,
footer .lower-footer .interest-links {
  display: inline-block;
}
footer .lower-footer .contact {
  padding: 2em;
  width: 30%;
}
footer .lower-footer .contact h2 {
  color: #fff;
}
footer .lower-footer .contact .social-subscription a img {
  padding: 0 0.5em;
  width: 2em;
  height: 2em;
}
footer .lower-footer .space-game {
  width: 30%;
}
footer .lower-footer .space-game .start-game {
  margin: 0 auto;
  width: 6em;
  height: 6em;
  background: rgba(0,0,0,0.8);
  text-align: center;
  border-radius: 50%;
}
footer .lower-footer .interest-links {
  float: right;
  width: 20%;
  color: #fff;
  padding-left: 5em;
}
footer .lower-footer .interest-links a,
footer .lower-footer .interest-links h2 {
  display: inline-block;
}
footer .lower-footer .interest-links a {
  vertical-align: middle;
  padding: 0.2em;
  border-radius: 0.2em;
  text-decoration: none;
  color: #fff;
}
footer .lower-footer .interest-links a:visited {
  color: #fff;
}
