.body
  font-size: 18px;

::-webkit-input-placeholder
  color: black

.page-sizer
  width: 1280px
  margin: 0 auto

header
  .upper-head
    padding: 0.5em
    position: relative;
    width: 100%
    height: 100%
    background: #0066cc
    color: white
    img
      width: 5em
      height: 5em
      display: inline-block;
    .UNET
      position: absolute;
      display: inline-block;
      top: 1.5em
      padding: 0 1em

  .lower-head
    position: relative
    .h-left
      padding: 1em
      display: inline-block;
      width: 80%
      img
        display: inline-block;
        width: 9em
        height: 9em
      .lab-title
        position: absolute;
        display: inline-block;



    .h-right
      top: 1em
      padding-top: 0.5em
      position: absolute;
      display: inline-block;
      padding: 0 auto
      width: 18%

      .subscription-form
        width: 15em
        form
          padding: 0.5em
          background: #bbc3cc
          margin: 0
          input
            margin: 0
            background: #bbc3cc
            border: 0
            outline: 0
          button
            float: right;
            padding-right: 0.5em
            margin: 0
            background: #bbc3cc
            outline: 0
            border: 0

      .social-subscription
        padding-top: 0.5em
        padding-left: 1.5em
        img
          padding: 0 0.5em
          width: 2em
          height: 2em
      span
        padding-left: 6em

      a
        padding: 0.2em
        display: inline;
        font-size: 3em
        text-decoration: none;
        &:visited
          color: black

nav
  font-size: 1.5em
  color: white
  background: #3399ff
  ul
    margin: 0
    padding: 1em
    list-style-type: none;
    li
      display: inline;
      padding: 2em
      .search-bar
        form
          padding: 0.5em
          background: #bbc3cc
          margin: 0
          input
            background: #bbc3cc
            margin: 0
            border: 0
            outline: 0
          button
            color: black
            float: right;
            padding-right: 0.5em
            margin: 0
            background: #bbc3cc
            outline: 0
            border: 0
        display: inline-block;
        background: white
      &:nth-child(1)
        padding-left: 0
      &:nth-child(4)
        padding-left: 5em
.slider
    position: relative;
    width: 100%
    height: 50em
    background: url("../images/ac9c.jpg") center no-repeat
    background-size: 100% 100%
    .join-us
      top: 32em
      left: 55em
      width: 15em
      padding: 1.5em
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      .link-more
        padding-left: 10em
        margin: 0
        width: 6em
        a
          vertical-align: middle;
          padding: 0.2em
          background: #ff3333
          border-radius: 0.2em
          text-decoration: none;
          color: white
          &:visited
            color: white
      h1
        color: white
      span
        color: white

section
  .slogan
    padding: 1em
    h1
      color: #3399ff

  .investigation-lines
    padding: 1em
    width: 100%;
    background: #bbc3cc
    .investigation-item
      text-align: center;
      width: 20%
      padding: 0 4em
      display: inline-block;
      img,span
        display: block;
      img
        margin: 0 auto
        border-radius: 50%
      span
        //aqui falta xD!

.members
  padding-top: 1em
  .member-item
    margin: 0 1.6em
    text-align: center;
    display: inline-block;
    border: solid 1px grey
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2)
    img
      padding: 2em
      width: 15em
      height: 15em
      border-radius: 50%
    h2
      padding: 0.5em
      background: #ff3333
      color: white
    span
    .member-social
      padding: 1em
      img
        padding: 0 1em
        width: 3em
        height: 3em

footer
  margin-top: 3em
  background: url("../images/d4tleft.png") center no-repeat
  width: 100%
  height: 40em
  background-size: 100% 100%
  .upper-footer
    padding: 2em
    border-bottom: 1px solid rgba(255,255,255,0.2)
    h1,h2
      color: white
  .lower-footer
    .contact,.space-game,.interest-links
      display: inline-block;
    .contact
      padding: 2em
      width: 30%
      h2
        color: white
      .social-subscription
        a
          img
            padding: 0 0.5em
            width: 2em
            height: 2em
    .space-game
      width: 30%
      .start-game
        margin: 0 auto
        width: 6em
        height: 6em
        background: rgba(0,0,0,0.8)
        text-align: center;
        border-radius: 50%

    .interest-links
      width: 20%
      color: white
      padding-left: 10em
      a,h2
        display: inline-block;
      a
        vertical-align: middle;
        padding: 0.2em
        border-radius: 0.2em
        text-decoration: none;
        color: white
        &:visited
          color: white
